<nav class="navbar navbar-expand-lg navbar-light bg-light p-3 mb-3 rounded" aria-label="breadcrumb">
  <ol class="breadcrumb m-0">
    <li class="breadcrumb-item"><a class="text-decoration-none" routerLink="/identity-info">Home</a></li>
    <li class="breadcrumb-item">About</li>
    <li class="breadcrumb-item active" aria-current="page">Credits</li>
  </ol>
</nav>

(In Alphabetical Order)
<p></p>
<ul class="list-group">
<li class="list-group-item">Bruce Ren</li>
<li class="list-group-item">Kenny Li</li>
<li class="list-group-item">Piyush Khandelwal</li>
</ul>