<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/multiple-account">Home</a></li>
    <li class="breadcrumb-item">About</li>
    <li class="breadcrumb-item active" aria-current="page">Credits</li>
  </ol>
</nav>
<table class="table table-striped table-bordered">
  <thead class="thead-light">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Job</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mario</td>
      <td>Plumber</td>
      <td>Unblock toilets</td>
    </tr>
  </tbody>
</table>


