/* Define variables for styling here */
$dark-blue-background: #0033a1;
$light-blue-background: #0071ce;
$default-bg-color: #f6f7fb;
$secondary-bg-color: #EEEEEE;

$blue-color: #369DFF;
$orange-color: #FF8F00;
$white-color: #FFFFFF;

$default-font-color: #333333;
$secondary-font-color: #9D9D9D;