<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/multiple-accounts-report">Home</a></li>
    <li class="breadcrumb-item">Rules</li>
    <li class="breadcrumb-item active" aria-current="page">Manage Connector Rules</li>
  </ol>
</nav>
<form name="form" #f="ngForm" novalidate contactRequired>
  <div class="form-group row">
    <div class="input-group col-md-10">
      <span class="input-group-prepend">
        <div class="input-group-text bg-transparent border-right-0"><i class="fa fa-search"></i></div>
      </span>
      <input class="form-control py-2 border-left-0 border" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Type rule name or type to filter the result.">
    </div>
    <div class="col-sm-2 text-right">
      <button type="button" [disabled]="loading" (click)="ngOnInit()" class="btn btn-primary btn-sm">
        Refresh
      </button>
    </div>
  </div>
</form>
<div class="form-group row" *ngIf="loading">
  <div class="col-sm-12 text-right">
    <span class="spinner-border spinner-border-sm mr-1"></span>Loading...
  </div>
</div>
<div class="form-group row" *ngIf="!loading">
  <div class="col-sm-12 text-left">
    <span class="font-weight-bold">- To import a new rule, click 'Choose File' button below to select a rule file (.xml extension) from your local directory and click 'Import Rule' button to import it.</span>
    <br/><span class="font-weight-bold">- To clear selected rule file, click 'Clear File' button.</span>
  </div>
</div>
<div class="form-group row" *ngIf="!loading">
  <div class="col-sm-5 text-left">
    <input #importRuleFile type="file" accept=".xml" (change)="processFileForImportRule($event)" class="btn btn-primary btn-sm">
    &nbsp;&nbsp;
    <button (click)="clearFileForImportRule()" class="btn btn-primary btn-sm">Clear File</button>
  </div>
  <div class="col-sm-2 text-right">
    <button type="button" [disabled]="ruleToImport == null" (click)="showImportRuleConfirmModal()" class="btn btn-primary btn-sm">
      Import Rule
    </button>
  </div>
</div>
<div class="form-group row" *ngIf="!loading">
  <div class="col-sm-12 text-left">
    <span class="font-weight-bold">Click 'Select' button in Actions column and select 'Download', 'Update', or 'Delete' to download, update, or delete a rule</span>
  </div>
</div>
<table class="table table-striped table-bordered">
  <thead class="thead-light">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Description</th>
      <th scope="col">Id</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody *ngIf="rules">
    <tr *ngFor="let r of rules | filter:searchText:['name', 'type']">
      <td>{{ r.name }}</td>
      <td>{{ r.type }}</td>
      <td>{{ r.description }}</td>
      <td>{{ r.id }}</td>
      <td>
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select
          </button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" (click)="downloadRule(r.id)">Download</a>
            <a class="dropdown-item" (click)="showUpdateRuleConfirmModal(r)">Update</a>
            <a class="dropdown-item" (click)="showDeleteRuleConfirmModal(r)">Delete</a>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div bsModal #importRuleConfirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="dialog-child-name" class="modal-title pull-left pull-left font-weight-bold">
          Import Rule
        </h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideImportRuleConfirmModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="form" novalidate>
          <div class="form-group row">
            <div class="col-sm-12 text-left" *ngIf="ruleToImport">
              <span *ngIf="ruleToImport && validToSubmit">
                <span class="font-weight-bold">Name:</span>&nbsp;{{ ruleToImport.name }}<br>
                <span class="font-weight-bold">Type:</span>&nbsp;{{ ruleToImport.type }}<br>
                <span class="font-weight-bold">Description:</span>&nbsp;{{ ruleToImport.description }}<br>
              </span>
              <div *ngIf="!validToSubmit && invalidMessage && invalidMessage.length > 0">
                <br>
                <span class="font-weight-bold text-danger">Please fix following error(s): </span><br>
                <span *ngFor="let err of invalidMessage">
                  {{ err }}
                  <br>
                </span>
              </div>
            </div>
          </div>
          <div class="row mrgbtm small">
            <div class="col-md-12 text-right">
              <button type="button" (click)="hideImportRuleConfirmModal()" class="btn btn-danger btn-sm">Cancel</button>
              &nbsp;&nbsp;&nbsp;
              <button type="button" [disabled]="!validToSubmit" class="btn btn-success btn-sm" (click)="importRule()">Import</button>
            </div>
          </div>
      </form>
      </div>
    </div>
  </div>
</div>

<div bsModal #updateRuleConfirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="dialog-child-name" class="modal-title pull-left font-weight-bold">
          Update Rule
        </h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideUpdateRuleConfirmModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="form" novalidate>
          <div class="form-group row">
            <div class="col-sm-12 text-left" *ngIf="ruleToUpdate">
                <span class="font-weight-bold">Name:</span>&nbsp;{{ ruleToUpdate.name }}<br>
                <span class="font-weight-bold">Type:</span>&nbsp;{{ ruleToUpdate.type }}<br>
                <span class="font-weight-bold">Description:</span>&nbsp;{{ ruleToUpdate.description }}<br>
              <div *ngIf="!validToSubmit && invalidMessage && invalidMessage.length > 0">
                <br>
                <span class="font-weight-bold text-danger">Please fix following error(s): </span><br>
                <span *ngFor="let err of invalidMessage">
                  {{ err }}
                  <br>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12 text-left">
              To update the rule, click 'Choose File' button to select a rule file from your local directory and click 'Update' button to submit. 
              Please note that you cannot change rule name or rule type.
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12 text-left">
              <input #updateRuleFile type="file" accept=".xml" (change)="processFileForUpdatRule($event)" class="btn btn-primary btn-sm">
              &nbsp;&nbsp;
              <button (click)="clearFileForUpdateRule()" class="btn btn-primary btn-sm">Clear File</button>
            </div>
          </div>

          <div class="row mrgbtm small">
            <div class="col-md-12 text-right">
              <button type="button" (click)="hideUpdateRuleConfirmModal()" class="btn btn-danger btn-sm">Cancel</button>
              &nbsp;&nbsp;&nbsp;
              <button type="button" [disabled]="!validToSubmit" class="btn btn-success btn-sm" (click)="updatedRule()">Update</button>
            </div>
          </div>
      </form>
      </div>
    </div>
  </div>
</div>

<div bsModal #deleteRuleConfirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="dialog-child-name" class="modal-title pull-left font-weight-bold">
          Delete Rule
        </h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideDeleteRuleConfirmModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group row">
            <div class="col-sm-12 text-left" *ngIf="ruleToDelete">
                <span class="font-weight-bold">Name:</span>&nbsp;{{ ruleToDelete.name }}<br>
                <span class="font-weight-bold">Type:</span>&nbsp;{{ ruleToDelete.type }}<br>
                <span class="font-weight-bold">Description:</span>&nbsp;{{ ruleToDelete.description }}<br>
                <div *ngIf="!validToSubmit && invalidMessage && invalidMessage.length > 0">
                  <br>
                  <span class="font-weight-bold text-danger">Please fix following error:</span><br>
                  <span *ngFor="let err of invalidMessage">
                    {{ err }}
                    <br>
                  </span>
                </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12 text-left">
              
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12 text-left">
              To delete the rule, enter exact rule name in below textbox for confirmation and click 'Delete' button
              &nbsp;<input type="text" class="form-control col-sm-8" id="rule-name" [(ngModel)]="deleteRuleNameText" placeholder="Rule name" aria-describedby="basic-addon3" autocomplete="off">
            </div>
          </div>
          <div class="row mrgbtm small">
            <div class="col-md-12 text-right">
              <button type="button" (click)="hideDeleteRuleConfirmModal()" class="btn btn-danger btn-sm">Cancel</button>
              &nbsp;&nbsp;&nbsp;
              <span>
                <button type="button" class="btn btn-success btn-sm" (click)="deleteRule()">
                  Delete
                </button>
              </span>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>