<nav class="navbar navbar-expand-lg navbar-light bg-light p-3 mb-3 rounded" aria-label="breadcrumb">
  <ol class="breadcrumb m-0">
    <li class="breadcrumb-item"><a class="text-decoration-none" routerLink="/identity-info">Home</a></li>
    <li class="breadcrumb-item">Sources</li>
    <li class="breadcrumb-item active" aria-current="page">Manage Source Owners</li>
  </ol>
</nav>
<form name="form" #f="ngForm" novalidate contactRequired>
  <div class="form-group row align-items-center mb-3">
    <div class="col-md-10">
      <div class="input-group">
        <span class="input-group-text bg-white border-end-0">
          <i class="fa fa-search"></i>
        </span>
        <input class="form-control py-2 border-start-0 border" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" 
        placeholder="Type Source Name, Description, cloudExternalID, Owner Account Name or Type to filter the result.">
      </div>
    </div>
    <div class="col-sm-2 text-end">
      <button type="button" [disabled]="loading || !allOwnersFetched" (click)="ngOnInit()" class="btn btn-primary btn-sm">
        Refresh
      </button>
    </div>
  </div>
</form>
<div class="form-group row mb-3" *ngIf="loading || !allOwnersFetched">
  <div class="col-sm-12 text-end">
    <span class="spinner-border spinner-border-sm me-1"></span>Loading...
  </div>
</div>
<div class="form-group row mb-3 align-items-center" *ngIf="!loading && allOwnersFetched">
  <div class="col-sm-10 text-start">
    <span class="fw-bold">To change the owner, select the items, enter the new owner account name and click the 'Submit to Change' button. </span>
    <span class="fw-bold">To apply change in bulk:
      <br>
      &nbsp;&nbsp;&nbsp;&nbsp; 1) either select the items, enter the new owner account name in the text field below and then click the 'Apply to Selected' button,
      <br>
      &nbsp;&nbsp;&nbsp;&nbsp; 2) or select the items and then upload the saved csv file by clicking 'Choose file' button.
    </span>
  </div>
  <div class="col-sm-2 text-end" *ngIf="sources">
    <button type="button" (click)="saveInCsv()" class="btn btn-primary btn-sm">
      Download
    </button>
  </div>
</div>
<div class="form-group row mb-3 align-items-center" *ngIf="!loading && allOwnersFetched">
  <div class="col-sm-3 text-start">
    <input class="form-control py-2 border-start-0 border" type="text" [(ngModel)]="newOwnerAll"
          placeholder="Enter Owner Account Name">
  </div>
  <div class="col-sm-2 text-end">
    <button type="button" (click)="applyNewOwnerToAllSelected()" class="btn btn-primary btn-sm">
      Apply to Selected
    </button>
  </div>
  <div class="col-sm-5 text-start">
    <input #fileInput type="file" accept=".csv" (change)="handleFileSelect($event)" class="btn btn-primary btn-sm">
    &nbsp;&nbsp;
    <button (click)="clearFileSelect()" class="btn btn-primary btn-sm">Clear file</button>
  </div>
  <div class="col-sm-2 text-end">
    <button type="button" (click)="showSubmitConfirmModal()" class="btn btn-primary btn-sm">
      Submit to Change
    </button>
  </div>
</div>
<table class="table table-striped table-bordered">
  <thead class="table-secondary align-middle">
    <tr>
      <th scope="col">
          Select All
          <br>
          <input type="checkbox" [(ngModel)]="selectAll" (click)="changeOnSelectAll()" id="selectAll" [disabled]="searchText !== null && searchText.trim() !== ''">
      </th>
      <th scope="col">Source Name</th>
      <th scope="col">Source Description</th>
      <th scope="col">Type</th>
      <th scope="col">cloudExternalID</th>
      <th scope="col" class="col-sm-3">Owner Account Name</th>
      <th scope="col">Owner Display Name</th>
    </tr>
  </thead>
  <tbody *ngIf="sources">
    <tr class="align-middle" *ngFor="let s of sources | filter:searchText:['cloudExternalID', 'name', 'description', 'type', 'currentOwnerAccountName', 'currentOwnerDisplayName']">
      <td>
        <input type="checkbox" [(ngModel)]="s.selected" (click)="changeOnSelect($event, sources.indexOf(s))">
      </td>
      <td>{{ s.name }}</td>
      <td>{{ s.description }}</td>
      <td>{{ s.type }}</td>
      <td>{{ s.cloudExternalID }}</td>
      <td class="col-sm-3">
        <span *ngIf="s.owner && !s.selected">
          {{ s.owner.accountName }}
        </span>
        <span *ngIf="s.selected">
          <input class="form-control py-2 border-start-0 border" type="text" [(ngModel)]="s.newOwner.accountName"
              placeholder="Enter Owner account name">
        </span>
      </td>
      <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">
        <span *ngIf="s.owner">
          {{ s.owner.displayName }}
        </span>
      </td>
    </tr>
  </tbody>
</table>
<br>

<div bsModal #submitConfirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h6 id="dialog-child-name" class="modal-title pull-left">
          <span *ngIf="validToSubmit">
            Are you sure to change the owner of the selected sources?
          </span>
          <div *ngIf="!validToSubmit">
            <span class="fw-bold">Please fix the following error (errors) before submitting the changes: </span><br>
            <span *ngFor="let err of invalidMessage">
              {{ err }}
              <br>
            </span>
          </div>
        </h6>
        <button type="button" class="btn close pull-right" aria-label="Close" (click)="hideSubmitConfirmModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="form" novalidate>
          <div class="row mrgbtm small">
            <div class="col-md-12 text-center">
              <button type="button" (click)="hideSubmitConfirmModal()" class="btn btn-danger btn-sm">Cancel</button>
              &nbsp;&nbsp;&nbsp;
              <span *ngIf="validToSubmit">
                <button type="button" class="btn btn-success btn-sm" (click)="updateSourceOwner()">
                  Save
                </button>
              </span>
            </div>
          </div>
      </form>
      </div>
    </div>
  </div>
</div>
