
<p>VA Health Report</p>
<!--Header row to show summary information currently does not filter by requestee-->

<div class=" form-group row">
  <div class="col-sm-2 text-start bg-dark text-white">
    <span class="fw-bold">-</span>
  </div>
  <div class="col-sm-1 text-start bg-dark text-white">
    <span class="fw-bold">total</span>
  </div>
  <div class="col-sm-1 bg-success text-white text-start">
    <span class="fw-bold">Good</span>
  </div>
  <div class="col-sm-1 bg-warning text-white text-start">
    <span class="fw-bold">Warning</span>
  </div>
  <div class="col-sm-1 bg-danger text-white text-start">
    <span class="fw-bold">Error</span>
  </div>
</div>

<div class=" form-group row">
  <div class="col-sm-2 text-start bg-dark text-white">
    <span class="fw-bold">VA Clusters</span>
  </div>
  <div class="col-sm-1 text-start bg-dark text-white">
    <span class="fw-bold">{{ clusterGood + clusterWarning + clusterError}}</span>
  </div>
  <div class="col-sm-1 bg-success text-white text-start">
    <span class="fw-bold">{{ clusterGood }} ({{clusterGood/(clusterGood + clusterWarning + clusterError)  | percent }})</span>
  </div>
  <div class="col-sm-1 bg-warning text-white text-start">
    <span class="fw-bold">{{ clusterWarning }} ({{clusterWarning/(clusterGood + clusterWarning + clusterError)  | percent }})</span>
  </div>
  <div class="col-sm-1 bg-danger text-white text-start">
    <span class="fw-bold">{{ clusterError }} ({{clusterError/(clusterGood + clusterWarning + clusterError)  | percent }})</span>
  </div>
</div>

<div class=" form-group row">
  <div class="col-sm-2 text-start bg-dark text-white">
    <span class="fw-bold">VA Servers</span>
  </div>
  <div class="col-sm-1 text-start bg-dark text-white">
    <span class="fw-bold">{{ vaGood + vaWarning + vaError}}</span>
  </div>
  <div class="col-sm-1 bg-success text-white text-start">
    <span class="fw-bold">{{ vaGood }}  ({{vaGood/(vaGood + vaWarning + vaError)  | percent }})</span>
  </div>
  <div class="col-sm-1 bg-warning text-white text-start">
    <span class="fw-bold">{{ vaWarning }} ({{vaWarning/(vaGood + vaWarning + vaError)  | percent }})</span>
  </div>
  <div class="col-sm-1 bg-danger text-white text-start">
    <span class="fw-bold">{{ vaError }} ({{vaError/(vaGood + vaWarning + vaError)  | percent }})</span>
  </div>
</div>

<button type="button" (click)="download()" class="btn btn-primary btn-sm">
  Json
</button>
<button type="button" (click)="saveInCsv()" class="btn btn-primary btn-sm">
  CSV
</button>

<div class="form-group row mb-3">
  <input class="form-control py-2 border-start-0 border" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" 
  placeholder="Status">
</div>
<table class="table table-striped table-bordered">
    <thead class="table-secondary text-center align-middle">
      <tr>
        <th scope="col">Cluster Name</th>
        <th scope="col">Cluster Description</th>
        <th scope="col">Cluster Status</th>
        <th scope="col">Client Status</th>
        <th scope="col">Client Version</th>
        <th scope="col">Client IP</th>
      </tr>
    </thead>
    <tbody class="text-center align-middle" *ngIf="cluster">
      <tr *ngFor="let c of cluster | filter:searchText:['clientStatus', 'status']">

        <td>{{ c.name }}</td>
        <td>{{ c.description }}</td>
        <td>{{ c.status }}</td> 
        <td>{{ c.clientStatus }}</td>
        <td>{{ c.clientVersion }}</td>
        <td>{{ c.clientIp }}</td>
       
      </tr>
    </tbody>
  </table>
<!--
            id: string;
        ccgVersion: string;
        status: string;
        description: string;
        details: string[];
        clientid: string;
        clientStatus: string;
        clientHypervisor: string;
        clientVersion:string;
        clientIp:string;
        clientHostName:string;
-->