/* Define styling such as for *, html, body tag */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background: linear-gradient(225deg, $dark-blue-background 0%, $light-blue-background 100%);
}