/* Create typography styling here */
.text-blue {
    color: $blue-color;
}

.text-grey {
    color: $secondary-font-color;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-11 {
    font-size: 11px;
}