<div class="form-group row mb-3" *ngIf="!loading">
  <div class="col-sm-12 text-start">
    <span class="fw-bold">Please be aware that PAT token could be used in scripts or extensibility options. Deleting could affect them. Last Used timestamp does not get updated on every PAT usage, but only once a day.</span>
  </div>
</div>
<form name="form" #f="ngForm" novalidate contactRequired>
  <div class="form-group row align-items-center mb-3">
    <div class="col-md-10">
      <div class="input-group">
        <span class="input-group-text bg-white border-end-0">
          <i class="fa fa-search"></i>
        </span>
        <input class="form-control py-2 border-start-0 border" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" 
        placeholder="Type Description, Owner Account Name or Owner Display Name to filter the result.">
      </div>
    </div>
    <div class="col-sm-2 text-end">
      <button type="button" [disabled]="loading" (click)="ngOnInit()" class="btn btn-primary btn-sm">
        Refresh
      </button>
    </div>
  </div>
</form>
<div class="form-group row mb-3" *ngIf="loading">
  <div class="col-sm-12 text-end">
    <span class="spinner-border spinner-border-sm me-1"></span>Loading...
  </div>
</div>

<table class="table table-striped table-bordered">
  <thead class="table-secondary text-center align-middle">
    <tr>
      <th scope="col">#</th>
      <th scope="col">PAT ID</th>
      <th scope="col">Description</th>
      <th scope="col">Scope</th>
      <th scope="col">Created</th>
      <th scope="col">Last Used</th>
      <th scope="col">Owner Account Name</th>
      <th scope="col">Owner Display Name</th>
      <th scope="col">Owner Org Permissions</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody class="text-center align-middle" *ngIf="pats">
    <tr *ngFor="let i =index; let p of pats | filter:searchText:['name', 'ownerAccountName', 'ownerDisplayName']">
      <td>{{i}}</td>
      <td>{{ p.id }}</td>
      <td>{{ p.name }}</td>
      <td>        
        <option *ngFor="let scopes of p.scope">
        {{ scopes }}
        </option>
      </td>
      <td>{{ p.created | date:'yyyy-MM-dd hh:mm:ss aa' }}</td>
      <td>{{ (p.lastUsed !== null) ? (p.lastUsed | date:'yyyy-MM-dd hh:mm:ss aa') : 'Never' }} </td>
      <td>{{ p.ownerAccountName }}</td>
      <td>{{ p.ownerDisplayName }}</td>
      <td>          
        <option *ngFor="let permissions of p.orgPermission">
          {{ permissions }}
        </option>
      </td>
      <td>
        <div class="col-sm-2 text-end">
          <button type="button" [disabled]="loading" (click)="showDeletePATConfirmModal(p)" class="btn btn-primary btn-sm">
            Delete
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<br>

<div bsModal #deletePATConfirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="dialog-child-name" class="modal-title pull-left font-weight-bold">
          Delete PAT Token
        </h5>
        <button type="button" class="btn close pull-right" aria-label="Close" (click)="hidedeletePATConfirmModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group row">
            <div class="col-sm-12 text-start" *ngIf="PATToDelete">
                <span class="fw-bold">PAT ID:</span>&nbsp;{{ PATToDelete.id }}<br>
                <span class="fw-bold">Description:</span>&nbsp;{{ PATToDelete.name }}<br>
                <span class="fw-bold mb-5">Owner Account Name:</span>&nbsp;{{ PATToDelete.ownerAccountName }}<br>
                <div *ngIf="!validToSubmit && invalidMessage && invalidMessage.length > 0">
                  <br>
                  <span class="font-weight-bold text-danger">Please fix following error:</span><br>
                  <span *ngFor="let err of invalidMessage">
                    {{ err }}
                    <br>
                  </span>
                </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12 text-start">
              
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12 text-start mb-3 mt-5">
              To delete the PAT, enter exact PAT ID in below textbox for confirmation and click 'Delete' button
              &nbsp;<input type="text" class="form-control col-sm-8" id="rule-name" [(ngModel)]="deletePATNameText" (keyup.enter)="deletePAT()" placeholder="PAT ID" aria-describedby="basic-addon3" autocomplete="off">
            </div>
          </div>
          <div class="row mrgbtm small">
            <div class="col-md-12 text-end">
              <button type="button" (click)="hidedeletePATConfirmModal()" class="btn btn-danger btn-sm">Cancel</button>
              &nbsp;&nbsp;&nbsp;
              <span>
                <button type="button" class="btn btn-success btn-sm" (click)="deletePAT()">
                  Delete
                </button>
              </span>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>