.btn-primary {
    background-color: $dark-blue-background;
    border-radius: 4px;
}

.btn-secondary {
    background-color: $secondary-bg-color;
    color: $default-font-color;
}

.btn-rounded {
    border-radius: 20px;
}

.btn-blue {
    background-color: $blue-color;
    border-radius: 4px;
    color: $white-color;
}