<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/multiple-accounts-report">Home</a></li>
    <li class="breadcrumb-item">Sources</li>
    <li class="breadcrumb-item active" aria-current="page">Run Aggregations</li>
  </ol>
</nav>
<form name="form" #f="ngForm" novalidate contactRequired>
  <div class="form-group row">
    <div class="input-group col-md-10">
      <span class="input-group-prepend">
        <div class="input-group-text bg-transparent border-right-0"><i class="fa fa-search"></i></div>
      </span>
      <input class="form-control py-2 border-left-0 border" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" 
        placeholder="Type Source Name, description, cloudExternalID or type to filter the result.">
    </div>
    <div class="col-sm-2 text-right">
      <button type="button" [disabled]="loading" (click)="ngOnInit()" class="btn btn-primary btn-sm">
        Refresh
      </button>
    </div>
  </div>
</form>
<div class="form-group row" *ngIf="loading">
  <div class="col-sm-12 text-right">
    <span class="spinner-border spinner-border-sm mr-1"></span>Loading...
  </div>
</div>
<div class="form-group row" *ngIf="!loading">
  <div class="col-sm-12 text-left">
    <span class="font-weight-bold">To aggregate the source, select the items below and then click the 'Submit' button. </span>
    <span class="font-weight-bold">For Delimited File type source, click the 'Choose file' button in the 'CSV File' column to upload file first before submitting.
    </span>
  </div>
</div>
<div class="form-group row" *ngIf="!loading">
  <div class="col-sm-12 text-right">
    <button type="button" (click)="showSubmitConfirmModal()" class="btn btn-primary btn-sm">
      Submit
    </button>
  </div>
</div>
<table class="table table-striped table-bordered">
  <thead class="thead-light">
    <tr>
      <th scope="col">
          Select All
          <br>
          <input type="checkbox" [(ngModel)]="selectAll" (click)="changeOnSelectAll()" id="selectAll" [disabled]="searchText != null && searchText.trim() != ''">
      </th>
      <th scope="col">Source Name</th>
      <th scope="col">Type</th>
      <th scope="col">cloudExternalID</th>
      <th scope="col">Disable Optimization</th>
      <th scope="col" class="col-sm-3">CSV File</th>
      <th scope="col">Aggregation Progress</th>
      
    </tr>
  </thead>
  <tbody *ngIf="sources">
    <ng-container *ngFor="let s of sources | filter:searchText:['cloudExternalID', 'name', 'description', 'type']">
      <!--
      <tr data-toggle="collapse" [attr.data-target]="'#collapseRow' + s.cloudExternalID" class="accordion-toggle">
      -->
      <tr>
        <td>
          <input type="checkbox" [(ngModel)]="s.selected" (click)="changeOnSelect($event, sources.indexOf(s))" [disabled]="s.aggTask && s.aggTask.status != 'COMPLETED' ">
        </td>
        <td>{{ s.name }}</td>
        <td>{{ s.type }}</td>
        <td>{{ s.cloudExternalID }}</td>
        <td class="text-center">
          <span *ngIf="s.selected">
            <input type="checkbox" [(ngModel)]="s.aggSourceDisableOptimization" [disabled]="s.aggTask && s.aggTask.status != 'COMPLETED' ">
          </span>
        </td>
        <td class="col-sm-3">
          <span *ngIf="s.selected && (s.type == 'DelimitedFile' || s.type == 'Non-Employee') ">
            <input type="file" accept=".csv" (change)="onFileChange($event, sources.indexOf(s))" [disabled]="s.aggTask && s.aggTask.status != 'COMPLETED' " class="btn btn-primary btn-sm">
          </span>
        </td>
        <td>
          <div *ngIf="s.aggTask == null">
            Not Started
          </div>
          <div *ngIf="s.aggTask">
            <span *ngIf="s.aggTask.status == 'COMPLETED'">
              Completed
            </span>
            <span *ngIf="s.aggTask.status != 'COMPLETED'">
              In Progress
            </span>
            <br>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [style.width.%]="s.aggTask.processedPct" aria-valuenow="25" aria-valuemin="1" aria-valuemax="100">
                {{s.aggTask.processedPct}}%
              </div>
            </div>
            <a class="btn btn-link" data-toggle="collapse" href="#collapseRow{{s.cloudExternalID}}" role="button" aria-expanded="false" >
              More...
            </a>
          </div>
        </td>
      </tr>
      <tr class="bg-light collapse" id="collapseRow{{s.cloudExternalID}}">
        <td colspan="5">
        </td>
        <td colspan="2">
          <div *ngIf="s.aggTask">
            <div class="row">
              <div class="col-sm-6 font-weight-bold">
                Aggregation Task Status:
              </div>
              <div class="col-sm-6">
                {{ s.aggTask.status }}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 font-weight-bold">
                Start Time:
              </div>
              <div class="col-sm-6">
                {{ s.aggTask.startTime | date:'yyyy-MM-dd HH:mm:ss' }}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 font-weight-bold">
                Total Accounts:
              </div>
              <div class="col-sm-6">
                {{ s.aggTask.totalAccounts }}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 font-weight-bold">
                Processed Accounts:
              </div>
              <div class="col-sm-6">
                {{ s.aggTask.processedAccounts }}
              </div>
            </div>
          </div>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
<br>

<div bsModal #submitConfirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h6 id="dialog-child-name" class="modal-title pull-left">
          <span *ngIf="validToSubmit">
            Are you sure to aggregate the selected sources?
          </span>
          <div *ngIf="!validToSubmit">
            <span class="font-weight-bold">Please fix the following error (errors) before sending the request to aggregate the selected sources: </span><br>
            <span *ngFor="let err of invalidMessage">
              {{ err }}
              <br>
            </span>
          </div>
        </h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideSubmitConfirmModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="form" novalidate>
          <div class="row mrgbtm small">
            <div class="col-md-12 text-center">
              <button type="button" (click)="hideSubmitConfirmModal()" class="btn btn-danger btn-sm">Cancel</button>
              &nbsp;&nbsp;&nbsp;
              <span *ngIf="validToSubmit">
                <button type="button" class="btn btn-success btn-sm" (click)="aggregateSource()">
                  Send
                </button>
              </span>
            </div>
          </div>
      </form>
      </div>
    </div>
  </div>
</div>
