<!--Top Menu-->
<div class="row" style="background-color: white; color:white; background-image: linear-gradient(to right, white, black);">
  <div class="col-sm-1" style="background-color: white;"></div>
  <div class="col-sm-3" style="color:rgb(61, 8, 158); background-color: white;">
    <a class="navbar-brand" href="#">
      <img src="./assets/images/sp_logo.png" alt="SailPoint" class="navbar-brand-image">
    </a>Community Admin Support Tool
  </div>

  <div style="background-color: black; color:white; background-image: linear-gradient(to right, white, black);" class="col-sm-5 text-end" >
    <div *ngIf="currentUser">Tenant:  {{currentUser.tenant}}</div>
  </div>

  <div style="background-color: black; color:white;" class="col-sm-3 text-end" >
    <div *ngIf="currentUser">
      <a class=" btn btn-link text-white" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true">Logout</i></a>
    </div>
  </div>

  <div *ngIf="!currentUser"class="row" style="background-color: #000;">
    <div class="col-sm-12 text-end" style="color:#fff;background-color: #000;height: 5px;">
    </div>
  </div>
</div>
<!--End of Top Menu-->



    <!-- NAVBAR-->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark shadow-sm py-0 navbar-custom-2" *ngIf="currentUser">
      <div class="container">

        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
    
        <div id="navbarSupportedContent" class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <!--Menu from Array-->
          <div *ngFor="let main of menu">
            <li class="nav-item dropdown ">
              <a class="nav-link dropdown-toggle" href="#" id="{{main.id}}" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{main.title}}
              </a>
              <div class="dropdown-menu"  aria-labelledby="navbarIdentity">
                <div *ngFor="let p of main.links">
                  <a *ngIf="p.skip==false" class="dropdown-item" routerLink={{p.route}} >{{p.name}}</a>
                  <div *ngIf="p.skip==true" class="dropdown-divider"></div>
                </div>
              </div>
            </li>
          </div>
  <!-- End Menu From Array-->
          </ul>
        </div>
      </div>
    </nav>
    <!--New Nav Bar-->

<div class="row" *ngIf="currentUser">
    <div class="col-sm-12 text-end" style="color:white;background-color: rgb(10, 10, 10);height: 5px;">
    </div>
</div>
<div class="container col-10">
  <div class="row">
    <div class="col-sm-12">
      <app-messages></app-messages>
    </div>
    <div class="col-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div class="container col-10">
  <nav class="navbar navbar-custom navbar-expand-lg">
    <div class="col-sm-12 text-center text-white d-block">
      <small>IDN Admin Console v{{ version }}</small>
      <br>
      <small *ngIf="newVersionAvailable" style="color: orange;">A new version of the software is available: {{ latestVersion }}</small>
    </div>
  </nav>
  <br>
</div>
<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">You Have Been Idle!</h4>
        <button type="button" class="btn close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         {{idleState}}
        <div class="row mrgbtm">
          <div class="col-md-6 text-start">
              <button type="button" (click)="logout()" class="btn btn-danger">Logout</button>
          </div>
          <div class="col-md-6 text-end">
              <button type="button" (click)="stay()" class="btn btn-success">Stay</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>