
@use './../assets/scss/abstracts/variables' as v;

$navbar-height: 65px;
$nav-item-width: 180px;
$nav-item-height: 67px;
$padding-left: 60px;

.navbar-custom-2 {

    background-image: linear-gradient(60deg, #0033a1 5%,#011b55 90%);
    }

.navbar-custom {
    background-color: v.$dark-blue-background;
    .navbar-brand {
        margin-right: 85.4px;
        padding-top: 6px;
        padding-bottom: 16px;
        
    }
}