<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/multiple-accounts-report">Home</a></li>
    <li class="breadcrumb-item">Misc</li>
    <li class="breadcrumb-item active" aria-current="page">Set Org Time</li>
  </ol>
</nav>
<div class="form-group row" *ngIf="loading">
  <div class="col-sm-12 text-right">
    <span class="spinner-border spinner-border-sm mr-1"></span>Loading...
  </div>
</div>
<div class="form-group row" *ngIf="!loading">
  <div class="col-sm-12 text-right">
    <button type="button" (click)="showSubmitConfirmModal()" class="btn btn-primary btn-sm">
      Submit to Change
    </button>
  </div>
</div>
<table class="table table-striped table-bordered" *ngIf="!loading">
  <thead class="thead-light">
    <tr>
      <th scope="col">Org Name</th>
      <th scope="col">Current TimeZone</th>
      <th scope="col">Set TimeZone</th>
    </tr>
  </thead>
  <tbody *ngIf="orgConfig">
    <tr>
      <td>{{ orgConfig.orgName }}</td>
      <td>{{ orgConfig.currentTimeZone }}</td>
      <td>
        <select [(ngModel)]='selectedOption'>
          <option *ngFor="let tz of validtimezones" [value]="tz">
            {{ tz }}
          </option>
        </select>
      </td>
    </tr>
  </tbody>
</table>
<div bsModal #submitConfirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h6 id="dialog-child-name" class="modal-title pull-left">
          <span *ngIf="validToSubmit">
            Are you sure to change org time zone?
          </span>
          <div *ngIf="!validToSubmit">
            <span class="font-weight-bold">Please fix the following error (errors) before submitting the changes: </span><br>
            <span *ngFor="let err of invalidMessage">
              {{ err }}
              <br>
            </span>
          </div>
        </h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideSubmitConfirmModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="form" novalidate>
          <div class="row mrgbtm small">
            <div class="col-md-12 text-center">
              <button type="button" (click)="hideSubmitConfirmModal()" class="btn btn-danger btn-sm">Cancel</button>
              &nbsp;&nbsp;&nbsp;
              <span *ngIf="validToSubmit">
                <button type="button" class="btn btn-success btn-sm" (click)="updateOrgTimeZone()">
                  Save
                </button>
              </span>
            </div>
          </div>
      </form>
      </div>
    </div>
  </div>
</div>