<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/identity-info">Home</a></li>
    <li class="breadcrumb-item">Identity Profiles</li>
    <li class="breadcrumb-item active" aria-current="page">Manage Transforms</li>
  </ol>
</nav>
<form name="form" #f="ngForm" novalidate contactRequired>
  <div class="form-group row align-items-center mb-3">
    <div class="col-md-10">
      <div class="input-group">
        <span class="input-group-text bg-white border-end-0">
          <i class="fa fa-search"></i>
        </span>
        <input class="form-control py-2 border-start-0 border" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Type transform name or type or internal value to filter the result.">
      </div>
    </div>
    <div class="col-sm-2 text-end">
      <button type="button" [disabled]="loading" (click)="ngOnInit()" class="btn btn-primary btn-sm">
        Refresh
      </button>
    </div>
  </div>
</form>
<div class="form-group row mb-3" *ngIf="loading">
  <div class="col-sm-12 text-end">
    <span class="spinner-border spinner-border-sm me-1"></span>Loading...
  </div>
</div>
<div class="form-group row mb-3" *ngIf="!loading">
  <div class="col-sm-12 text-start">
    <span class="fw-bold">- To import a new transform, click 'Choose File' button below to select a transform file (.json extension) from your local directory and click 'Import Transform' button to import it.</span>
    <br/><span class="fw-bold">- To clear selected transform file, click 'Clear File' button.</span>
  </div>
</div>
<div class="form-group row mb-3" *ngIf="!loading">
  <div class="col-sm-5 text-start">
    <input #importTransformFile type="file" accept=".json" (change)="processFileForImportTransform($event)" class="btn btn-primary btn-sm">
    &nbsp;&nbsp;
    <button (click)="clearFileForImportTransform()" class="btn btn-primary btn-sm">Clear File</button>
  </div>
  <div class="col-sm-2 text-end">
    <button type="button" [disabled]="transformToImport === null" (click)="showImportTransformConfirmModal()" class="btn btn-primary btn-sm">
      Import Transform
    </button>
  </div>
  <div class="col-sm-5 text-end">
    <button type="button" [disabled]="loading" (click)="exportAllTransforms()" class="btn btn-primary btn-sm">
      Export All
    </button>
  </div>
</div>
<div class="form-group row mb-3" *ngIf="!loading">
  <div class="col-sm-12 text-start">
    <span class="fw-bold">Click 'Select' button in Actions column and select 'Download', 'Update', or 'Delete' to download, update, or delete a transform</span>
  </div>
</div>
<table class="table table-striped table-bordered">
  <thead class="table-secondary align-middle">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th class="text-center align-middle" scope="col">Internal</th>
      <th scope="col">Id</th>
      <th class="text-center align-middle" scope="col">Actions</th>
    </tr>
  </thead>
  <tbody *ngIf="transforms">
    <tr class="align-middle" *ngFor="let t of transforms | filter:searchText:['name', 'type', 'internal']">
      <td>{{ t.name }}</td>
      <td>{{ t.type }}</td>
      <td  class="text-center align-middle">{{ t.internal }}</td>
      <td>{{ t.id }}</td>
      <td class="text-center align-middle">
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select
          </button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" (click)="downloadTransform(t.id)">Download</a>
            <a class="dropdown-item" (click)="showUpdateTransformConfirmModal(t)">Update</a>
            <a class="dropdown-item" (click)="showDeleteTransformModal(t)">Delete</a>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div bsModal #importTransformConfirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="dialog-child-name" class="modal-title pull-left pull-left font-weight-bold">
          Import Transform
        </h5>
        <button type="button" class="btn close pull-right" aria-label="Close" (click)="hideImportTransformConfirmModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="form" novalidate>
          <div class="form-group row">
            <div class="col-sm-12 text-start" *ngIf="transformToImport">
              <span *ngIf="transformToImport && validToSubmit">
                <span class="fw-bold">Name:</span>&nbsp;{{ transformToImport.name }}<br>
                <span class="fw-bold">Type:</span>&nbsp;{{ transformToImport.type }}<br>
              </span>
              <div *ngIf="!validToSubmit && invalidMessage && invalidMessage.length > 0">
                <br>
                <span class="font-weight-bold text-danger">Please fix following error(s): </span><br>
                <span *ngFor="let err of invalidMessage">
                  {{ err }}
                  <br>
                </span>
              </div>
            </div>
          </div>
          <div class="row mrgbtm small">
            <div class="col-md-12 text-end">
              <button type="button" (click)="hideImportTransformConfirmModal()" class="btn btn-danger btn-sm">Cancel</button>
              &nbsp;&nbsp;&nbsp;
              <button type="button" [disabled]="!validToSubmit" class="btn btn-success btn-sm" (click)="importTransform()">Import</button>
            </div>
          </div>
      </form>
      </div>
    </div>
  </div>
</div>

<div bsModal #updateTransformConfirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="dialog-child-name" class="modal-title pull-left font-weight-bold">
          Update Transform
        </h5>
        <button type="button" class="btn close pull-right" aria-label="Close" (click)="hideUpdateTransformConfirmModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="form" novalidate>
          <div class="form-group row mb-2">
            <div class="col-sm-12 text-start" *ngIf="transformToUpdate">
                <span class="fw-bold">Name:</span>&nbsp;{{ transformToUpdate.name }}<br>
                <span class="fw-bold">Type:</span>&nbsp;{{ transformToUpdate.type }}<br>
                <span class="fw-bold">ID:</span>&nbsp;{{ transformToUpdate.id }}<br>
                <span class="fw-bold">Internal:</span>&nbsp;{{ transformToUpdate.internal }}<br>
              <div *ngIf="!validToSubmit && invalidMessage && invalidMessage.length > 0">
                <br>
                <span class="font-weight-bold text-danger">Please fix following error(s): </span><br>
                <span *ngFor="let err of invalidMessage">
                  {{ err }}
                  <br>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12 text-start">
              To update the tranasform, click 'Choose File' button to select a transform file from your local directory and click 'Update' button to submit. 
              Please note that you cannot change transform name or transform type.
            </div>
          </div>
          <div class="form-group row mb-3">
            <div class="col-sm-12 text-start">
              <input #updateTransformFile type="file" accept=".json" (change)="processFileForUpdatTransform($event)" class="btn btn-primary btn-sm mt-2">
              &nbsp;&nbsp;
              <button (click)="clearFileForUpdateTransform()" class="btn btn-primary btn-sm">Clear File</button>
            </div>
          </div>

          <div class="row mrgbtm small">
            <div class="col-md-12 text-end">
              <button type="button" (click)="hideUpdateTransformConfirmModal()" class="btn btn-danger btn-sm">Cancel</button>
              &nbsp;&nbsp;&nbsp;
              <button type="button" [disabled]="!validToSubmit" class="btn btn-success btn-sm" (click)="updateTransform()">Update</button>
            </div>
          </div>
      </form>
      </div>
    </div>
  </div>
</div>

<div bsModal #deleteTransformConfirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="dialog-child-name" class="modal-title pull-left font-weight-bold">
          Delete Transform
        </h5>
        <button type="button" class="btn close pull-right" aria-label="Close" (click)="hideDeleteTransformConfirmModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group row mb-2">
            <div class="col-sm-12 text-start" *ngIf="transformToDelete">
                <span class="fw-bold">Name:</span>&nbsp;{{ transformToDelete.name }}<br>
                <span class="fw-bold">Type:</span>&nbsp;{{ transformToDelete.type }}<br>
                <span class="fw-bold">ID:</span>&nbsp;{{ transformToDelete.id }}<br>
                <span class="fw-bold">Internal:</span>&nbsp;{{ transformToDelete.internal }}<br>
                <div *ngIf="!validToSubmit && invalidMessage && invalidMessage.length > 0">
                  <br>
                  <span class="font-weight-bold text-danger">Please fix following error:</span><br>
                  <span *ngFor="let err of invalidMessage">
                    {{ err }}
                    <br>
                  </span>
                </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12 text-start">
              
            </div>
          </div>
          <div class="form-group row mb-3">
            <div class="col-sm-12 text-start">
              To delete the transform, enter exact transform name in below textbox for confirmation and click 'Delete' button
              &nbsp;<input type="text" class="form-control col-sm-8 mt-2" id="transform-name" [(ngModel)]="deleteTransformNameText" placeholder="Transform name" aria-describedby="basic-addon3" autocomplete="off">
            </div>
          </div>
          <div class="row mrgbtm small">
            <div class="col-md-12 text-end">
              <button type="button" (click)="hideDeleteTransformConfirmModal()" class="btn btn-danger btn-sm">Cancel</button>
              &nbsp;&nbsp;&nbsp;
              <span>
                <button type="button" class="btn btn-success btn-sm" (click)="deleteTransform()">
                  Delete
                </button>
              </span>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>