<nav class="navbar navbar-expand-lg navbar-light bg-light p-3 mb-3 rounded" aria-label="breadcrumb">
  <ol class="breadcrumb m-0">
    <li class="breadcrumb-item"><a class="text-decoration-none" routerLink="/identity-info">Home</a></li>
    <li class="breadcrumb-item">Roles</li>
    <li class="breadcrumb-item active" aria-current="page">Duplicate Role</li>
  </ol>
</nav>
<form name="form" #f="ngForm" novalidate contactRequired>
  <div class="form-group row align-items-center mb-3">
    <div class="col-md-10">
      <div class="input-group">
        <span class="input-group-text bg-white border-end-0">
          <i class="fa fa-search"></i>
        </span>
        <input class="form-control py-2 border-start-0 border" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" 
        placeholder="Type Role Name, Description, Owner Account Name or Owner Display Name to filter the result.">
      </div>
    </div>
    <div class="col-sm-2 text-end">
      <button type="button" [disabled]="loading" (click)="ngOnInit()" class="btn btn-primary btn-sm">
        Refresh
      </button>
    </div>
  </div>
</form>
<div class="form-group row mb-3" *ngIf="loading">
  <div class="col-sm-12 text-end">
    <span class="spinner-border spinner-border-sm me-1"></span>Loading...
  </div>
</div>
<div class="form-group row mb-3" *ngIf="!loading">
  <div class="col-sm-12 text-start">
    <span class="fw-bold">This shows only criteria based roles. Click on 'Duplicate' button. It will copy the description, owner and criteria and create a new role based on the name given and created in a disabled state. It is helpful in testing out criteria without needing to modify existing one</span>
  </div>
</div>
<table class="table table-striped table-bordered">
  <thead class="table-secondary align-middle">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Enabled</th>
      <th scope="col">Requestable</th>
      <th scope="col">Criteria Based</th>
      <th scope="col">Access Profiles Attached</th>
      <th scope="col">Owner Account Name</th>
      <th scope="col">Owner Display Name</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody *ngIf="roles">
    <tr class="align-middle" *ngFor="let r of roles | filter:searchText:['name', 'shortDescription', 'currentOwnerAccountName', 'currentOwnerDisplayName']">
      <td>{{ r.name }}</td>
      <td>{{ r.shortDescription }}</td>
      <td>{{ r.enabled }}</td>
      <td>{{ r.requestable }}</td>
      <td>{{ r.criteria }}</td>
      <td>{{ r.accessProfiles }}</td>
      <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">
        <span *ngIf="r.owner">
          {{ r.owner.accountName }}
        </span>
      </td>
      <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">
        <span *ngIf="r.owner">
          {{ r.owner.displayName }}
        </span>
      </td>
      <td>
        <div class="col-sm-2 text-end">
          <button type="button" [disabled]="loading" (click)="showDuplicateRoleConfirmModal(r)" class="btn btn-primary btn-sm">
            Duplicate
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<br>

<div bsModal #duplicateRoleConfirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="dialog-child-name" class="modal-title pull-left font-weight-bold">
          Duplicate Role
        </h5>
        <button type="button" class="btn close pull-right" aria-label="Close" (click)="hideDuplicateRoleConfirmModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group row mb-2">
            <div class="col-sm-12 text-start" *ngIf="roleToDuplicate">
                <span class="fw-bold">Name:</span>&nbsp;{{ roleToDuplicate.name }}<br>
                <span class="fw-bold">Description:</span>&nbsp;{{ roleToDuplicate.description }}<br>
                <div *ngIf="!validToSubmit && invalidMessage && invalidMessage.length > 0">
                  <br>
                  <span class="font-weight-bold text-danger">Please fix following error:</span><br>
                  <span *ngFor="let err of invalidMessage">
                    {{ err }}
                    <br>
                  </span>
                </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12 text-start">
              
            </div>
          </div>
          <div class="form-group row mb-3">
            <div class="col-sm-12 text-start">
              To duplicate the role, enter new name in below textbox and click 'Duplicate Role' button
              &nbsp;<input type="text" class="form-control col-sm-8 mt-2" id="role-name" [(ngModel)]="newRoleName" placeholder="Role name" aria-describedby="basic-addon3" autocomplete="off">
            </div>
          </div>
          <div class="row mrgbtm small">
            <div class="col-md-12 text-end">
              <button type="button" (click)="hideDuplicateRoleConfirmModal()" class="btn btn-danger btn-sm">Cancel</button>
              &nbsp;&nbsp;&nbsp;
              <span>
                <button type="button" class="btn btn-success btn-sm" (click)="duplicateRole()">
                  Duplicate Role
                </button>
              </span>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>