<div *ngIf="messageService.messages.length">
  <div *ngFor='let message of messageService.messages'>
    <div class="alert alert-success alert-dismissible fade show">
      {{message}}
      <button (click)="messageService.clear()" type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
  </div>
</div>
<div *ngIf="messageService.errors.length">
  <div *ngFor='let error of messageService.errors'>
    <div class="alert alert-danger alert-dismissible fade show">
      {{error}}
      <button (click)="messageService.clearError()" type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
  </div>
</div>