<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/identity-info">Home</a></li>
    <li class="breadcrumb-item">Sources</li>
    <li class="breadcrumb-item active" aria-current="page">Manage Create Profile</li>
  </ol>
</nav>
<form name="form" #f="ngForm" novalidate contactRequired>
  <div class="form-group row mb-3">
  </div>
</form>
<div class="form-group row mb-3" *ngIf="loading">
  <div class="col-sm-12 text-end">
    <span class="spinner-border spinner-border-sm me-1"></span>Loading...
  </div>
</div>
<div class="col-sm-12 text-start" *ngIf="!loading">
  <span class="fw-bold">Select the source and then add or remove attribute from create profile. It will be added as a disabled attribute. Please goto UI to then modify it.</span>
</div>
<br>
<div class="form-group row mb-3 align-items-center" *ngIf="!loading && sources">
  <div class="col-sm-6">
    <ng-select class="p-0" appearance="outline" placeholder="Select Source" (change)="getSourceCreateProfile($event)" (clear)="ngOnInit()">
      <ng-option value="{{ s.id }}" *ngFor="let s of sources">
        {{ s.name }}
      </ng-option>
    </ng-select>
  </div>
  <div class="col-sm-2 text-end">
    <button type="button" *ngIf="createProfileExists" [disabled]="loading" (click)="downloadCreateProfile()" class="btn btn-primary btn-sm">
      Download
    </button>
  </div>
  <!-- <div class="col-sm-2 text-end">
    <button type="button" [disabled]="loading" (click)="exportAllCreateProfiles()" class="btn btn-primary btn-sm">
      Export All
    </button>
  </div> -->
  <div class="col-sm-4 text-end">
    <button type="button" [disabled]="loading" (click)="ngOnInit()" class="btn btn-primary btn-sm">
      Refresh
    </button>
  </div>
</div>
<table class="table table-striped table-bordered" *ngIf="!loading && selectedSourceID">
  <thead class="thead-light">
    <tr>
      <th scope="col" class="col-sm-4">Type</th>
      <th scope="col" class="col-sm-6">Attribute List</th>
      <th scope="col" class="col-sm-2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="col-sm-4">Create Attribute</td>
      <td class="col-sm-2">
          <input class="border" type="text" [(ngModel)]="newCreateProfileAttribute" placeholder="Enter Attribute Name">
      </td>
      <td>
        <div class="col-sm-2 text-end">
          <button type="button" [disabled]="!newCreateProfileAttribute" (click)="showAddAttributeSubmitConfirmModal()" class="btn btn-primary btn-sm">
            Create
          </button>
        </div>
      </td>
    </tr>
    <tr *ngIf="createProfileExists">
      <td>Remove Attribute</td>
      <td>
        <select [(ngModel)]='selectedCreateProfileAttribute'>
          <option *ngFor="let attr of createProfileAttributes" [ngValue]="attr">
            {{ attr.name }}
          </option>
        </select>
      </td>
      <td>
        <div class="col-sm-2 text-end">
          <button type="button" [disabled]="loading" (click)="showDeleteAttributeSubmitConfirmModal()"class="btn btn-primary btn-sm">
            Delete
          </button>
        </div>
      </td> 
    </tr>
  </tbody>
</table>
<br>
<div bsModal #submitAddAttributeSubmitConfirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h6 id="dialog-child-name" class="modal-title pull-left">
          <span *ngIf="validToSubmit">
            <b>Are you sure you want to add the attribute?</b><br>
          </span>
          <div *ngIf="!validToSubmit">
            <span class="fw-bold">Please fix the following error (errors) before submitting the changes: </span><br>
            <span *ngFor="let err of invalidMessage">
              {{ err }}
              <br>
            </span>
          </div>
        </h6>
        <button type="button" class="btn close pull-right" aria-label="Close" (click)="hideAddAttributeSubmitConfirmModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="form" novalidate>
          <div class="row mrgbtm small">
            <div class="col-md-12 text-center">
              <button type="button" (click)="hideAddAttributeSubmitConfirmModal()" class="btn btn-danger btn-sm">Cancel</button>
              &nbsp;&nbsp;&nbsp;
              <span *ngIf="validToSubmit">
                <button type="button" class="btn btn-success btn-sm" (click)="createAttribute()">
                  Add
                </button>
              </span>
            </div>
          </div>
      </form>
      </div>
    </div>
  </div>
</div>
<div bsModal #submitDeleteAttributeSubmitConfirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h6 id="dialog-child-name" class="modal-title pull-left">
          <span *ngIf="validToSubmit">
            <b>Are you sure you want to delete the attribute?</b> <br>
          </span>
          <div *ngIf="!validToSubmit">
            <span class="fw-bold">Please fix the following error (errors) before submitting the changes: </span><br>
            <span *ngFor="let err of invalidMessage">
              {{ err }}
              <br>
            </span>
          </div>
        </h6>
        <button type="button" class="btn close pull-right" aria-label="Close" (click)="hideDeleteAttributeSubmitConfirmModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="form" novalidate>
          <div class="row mrgbtm small">
            <div class="col-md-12 text-center">
              <button type="button" (click)="hideDeleteAttributeSubmitConfirmModal()" class="btn btn-danger btn-sm">Cancel</button>
              &nbsp;&nbsp;&nbsp;
              <span *ngIf="validToSubmit">
                <button type="button" class="btn btn-success btn-sm" (click)="deleteAttribute()">
                  Delete
                </button>
              </span>
            </div>
          </div>
      </form>
      </div>
    </div>
  </div>
</div>