
<form name="form" #f="ngForm" novalidate contactRequired>
  <div class="form-group row align-items-center mb-3">

    <div class="col-md-5">
      <div class="input-group">
        <span class="input-group-text bg-white border-end-0">
          <i class="fa fa-search"></i>
        </span>
        <input class="form-control py-2 border-start-0 border" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" 
        placeholder="Type Source Name, description, cloudExternalID or type to filter the result.">
      </div>
    </div>

    <div class="col-sm-2 text-end">
      <button type="button" [disabled]="loading" (click)="search()" class="btn btn-primary btn-sm">
        Search
      </button>
    </div>

    <div class="col-sm-2 text-end">
      <button type="button" [disabled]="loading" (click)="ngOnInit()" class="btn btn-primary btn-sm">
        Refresh
      </button>
    </div>
  </div>
</form>
<div class="form-group row mb-3" *ngIf="loading">
  <div class="col-sm-12 text-end">
    <span class="spinner-border spinner-border-sm me-1"></span>Loaded: {{loadedCount}} / {{sourceCount}} ({{((loadedCount/sourceCount) * 100).toFixed(2)}}%)
  </div>
</div>
<div class="form-group row  mb-3" *ngIf="!loading">
  <div class="col-sm-12 text-start">
    <span class="fw-bold"><b style='color:red;'>This is a destructive flow to your tenant. You will loose all data on the source you choose to reset. Please be aware of what you are doing...</b></span>
  </div>
</div>
<div class="form-group row" *ngIf="!loading && sources">
  <div class="col-sm-10 text-start">
    <span class="fw-bold">Total: {{ sourceCount }} </span>
  </div>
</div>
<br>
<table class="table table-striped table-bordered">
  <thead class="table-secondary text-center align-middle">
    <tr>
      <th scope="col">Source Name</th>
      <th scope="col">Source Description</th>
      <th scope="col">Type</th>
      <th scope="col">cloudExternalID</th>
      <th scope="col">Account Count</th>
      <th scope="col">Entitlement Count</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody class="text-center align-middle" *ngIf="sources">
    <tr *ngFor="let s of sources | filter:searchText:['cloudExternalID', 'name', 'description', 'type']">
      <td>{{ s.name }}</td>
      <td>{{ s.description }}</td>
      <td>{{ s.type }}</td>
      <td>{{ s.cloudExternalID }}</td>
      <td>{{ s.accountsCount }}</td>
      <td>{{ s.entitlementsCount }}</td>
      <td>
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Reset
          </button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" (click)="showResetSourceAccountsConfirmModal(s)">Accounts</a>
            <a class="dropdown-item" (click)="showResetSourceEntitlementsConfirmModal(s)">Entitlements</a>
            <a class="dropdown-item" (click)="showResetSourceBothConfirmModal(s)">Both</a>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<br>

<div bsModal #resetSourceAccountsConfirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="dialog-child-name" class="modal-title pull-left font-weight-bold">
          Reset Source Accounts
        </h5>
        <button type="button" class="btn close pull-right" aria-label="Close" (click)="hideResetSourceAccountsConfirmModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group row mb-2">
            <div class="col-sm-12 text-start" *ngIf="sourceToReset">
                <span class="fw-bold">Name:</span>&nbsp;{{ sourceToReset.name }}<br>
                <span class="fw-bold">Type:</span>&nbsp;{{ sourceToReset.type }}<br>
                <span class="fw-bold">Description:</span>&nbsp;{{ sourceToReset.description }}<br>
                <div *ngIf="!validToSubmit && invalidMessage && invalidMessage.length > 0">
                  <br>
                  <span class="font-weight-bold text-danger">Please fix following error:</span><br>
                  <span *ngFor="let err of invalidMessage">
                    {{ err }}
                    <br>
                  </span>
                </div>
            </div>
          </div>
          <div class="form-group row mb-3">
            <div class="col-sm-12 text-start">
              
            </div>
          </div>
          <div class="form-group row mb-3">
            <div class="col-sm-12 text-start">
              To reset the source, enter exact source name in below textbox for confirmation and click 'Reset Accounts' button
              &nbsp;<input type="text" class="form-control col-sm-8 mt-2" id="rule-name" [(ngModel)]="resetSourceNameText" (keyup.enter)="resetSourceAccounts()" placeholder="Source name" aria-describedby="basic-addon3" autocomplete="off">
            </div>
          </div>
          <div class="row mrgbtm small">
            <div class="col-md-12 text-end">
              <button type="button" (click)="hideResetSourceAccountsConfirmModal()" class="btn btn-danger btn-sm">Cancel</button>
              &nbsp;&nbsp;&nbsp;
              <span>
                <button type="button" class="btn btn-success btn-sm" (click)="resetSourceAccounts()">
                  Reset Accounts
                </button>
              </span>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #resetSourceEntitlementsConfirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="dialog-child-name" class="modal-title pull-left font-weight-bold">
          Reset Source Entitlements
        </h5>
        <button type="button" class="btn close pull-right" aria-label="Close" (click)="hideResetSourceEntitlementsConfirmModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group row mb-2">
            <div class="col-sm-12 text-start" *ngIf="sourceToReset">
                <span class="fw-bold">Name:</span>&nbsp;{{ sourceToReset.name }}<br>
                <span class="fw-bold">Type:</span>&nbsp;{{ sourceToReset.type }}<br>
                <span class="fw-bold">Description:</span>&nbsp;{{ sourceToReset.description }}<br>
                <div *ngIf="!validToSubmit && invalidMessage && invalidMessage.length > 0">
                  <br>
                  <span class="font-weight-bold text-danger">Please fix following error:</span><br>
                  <span *ngFor="let err of invalidMessage">
                    {{ err }}
                    <br>
                  </span>
                </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12 text-start">
              
            </div>
          </div>
          <div class="form-group row mb-3">
            <div class="col-sm-12 text-start">
              To reset the source, enter exact source name in below textbox for confirmation and click 'Reset Entitlements' button
              &nbsp;<input type="text" class="form-control col-sm-8 mt-2" id="rule-name" [(ngModel)]="resetSourceNameText" (keyup.enter)="resetSourceEntitlements()" placeholder="Source name" aria-describedby="basic-addon3" autocomplete="off">
            </div>
          </div>
          <div class="row mrgbtm small">
            <div class="col-md-12 text-end">
              <button type="button" (click)="hideResetSourceEntitlementsConfirmModal()" class="btn btn-danger btn-sm">Cancel</button>
              &nbsp;&nbsp;&nbsp;
              <span>
                <button type="button" class="btn btn-success btn-sm" (click)="resetSourceEntitlements()">
                  Reset Entitlements
                </button>
              </span>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #resetSourceBothConfirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="dialog-child-name" class="modal-title pull-left font-weight-bold">
          Reset Source Accounts & Entitlements
        </h5>
        <button type="button" class="btn close pull-right" aria-label="Close" (click)="hideResetSourceBothConfirmModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group row mb-2">
            <div class="col-sm-12 text-start" *ngIf="sourceToReset">
                <span class="fw-bold">Name:</span>&nbsp;{{ sourceToReset.name }}<br>
                <span class="fw-bold">Type:</span>&nbsp;{{ sourceToReset.type }}<br>
                <span class="fw-bold">Description:</span>&nbsp;{{ sourceToReset.description }}<br>
                <div *ngIf="!validToSubmit && invalidMessage && invalidMessage.length > 0">
                  <br>
                  <span class="font-weight-bold text-danger">Please fix following error:</span><br>
                  <span *ngFor="let err of invalidMessage">
                    {{ err }}
                    <br>
                  </span>
                </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12 text-start">
              
            </div>
          </div>
          <div class="form-group row mb-3">
            <div class="col-sm-12 text-start">
              To reset the source, enter exact source name in below textbox for confirmation and click 'Reset Both' button
              &nbsp;<input type="text" class="form-control col-sm-8 mt-2" id="rule-name" [(ngModel)]="resetSourceNameText" (keyup.enter)="resetSourceBoth()" placeholder="Source name" aria-describedby="basic-addon3" autocomplete="off">
            </div>
          </div>
          <div class="row mrgbtm small">
            <div class="col-md-12 text-end">
              <button type="button" (click)="hideResetSourceBothConfirmModal()" class="btn btn-danger btn-sm">Cancel</button>
              &nbsp;&nbsp;&nbsp;
              <span>
                <button type="button" class="btn btn-success btn-sm" (click)="resetSourceBoth()">
                  Reset Both
                </button>
              </span>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>