<nav class="navbar navbar-expand-lg navbar-light bg-light p-3 mb-3 rounded" aria-label="breadcrumb">
  <ol class="breadcrumb m-0">
    <li class="breadcrumb-item"><a class="text-decoration-none" routerLink="/identity-info">Home</a></li>
    <li class="breadcrumb-item">Misc</li>
    <li class="breadcrumb-item active" aria-current="page">Manage Entitlement Owners</li>
  </ol>
</nav>
<div>

  <!--Start pagination Information Just change hte ngIf -->
<div class="row" *ngIf="!loading && entitlementsList">
  <div class="col-sm-2 text-start">
    Total Records Found:
    {{page.xTotalCount}}
  </div>
  <div class="col-sm-2 text-start">
    Page:
    {{page.currentPage}} of {{page.totalPages}}
  </div>
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li *ngIf="page.showPreviousButton" class="page-item"><a class="page-link" href="javascript:void(0);" (click)="getPrevPage()">Previous</a></li>
        <li class="page-item" *ngFor="let item of page.paggination(); let i =index">
          <a class="page-link" href="javascript:void(0);" (click)="getOnePage(item)">{{item}}</a>
      </li>
      <li *ngIf="page.hasMorePages" class="page-item"><a class="page-link" href="javascript:void(0);" (click)="getNextPage()">Next</a></li>
    </ul>
  </nav>
</div>
<!--End of Pagination Info-->

<div class="row">
  <div class="form-group col-sm-6" *ngIf="!loading">
      <input class="form-control py-2 border-start-0 border" type="text" [(ngModel)]="entValue"
            placeholder="Search via Entitlement Name (Starts With)">
  </div>
  <div class="col-sm-1 text-end">
    <button type="button" (click)="submit()" class="btn btn-primary btn-sm">
      Search
    </button>
  </div>
  <div class="col-sm-1 text-end">
    <button type="button" (click)="ngOnInit()" class="btn btn-primary btn-sm">
      Refresh
    </button>
  </div>
</div>
<div class=""row>
  <div class="col-sm-1 text-end"><p></p></div>
</div>
<!--Content-->

<div>
  <table class="table table-striped table-bordered">
    <thead class="table-secondary text-center align-middle">
      <tr>
        <th scope="col"class="col-1">#</th>
        <th scope="col" class="col-2">Source</th>
        <th scope="col" class="col-2">Attribute</th>
        <th scope="col" class="col-2">Value</th>
        <th scope="col" class="col-2">Name</th>
        <th scope="col" class="col-2">Description</th>
        <th scope="col" class="col-2">Current Owner</th>
        <th scope="col" class="col-2">Created</th>
        <th scope="col" class="col-1">Requestable</th>
        <th scope="col" class="col-1">Action</th>
      </tr>
    </thead>
    <tbody class="text-center align-middle" *ngIf="entitlementsList && !loading">
      <tr *ngFor="let e of entitlementsList; let i =index">
        <td>{{ page.offset+1+i}} </td>
        <td class="col-2">{{ e.sourceName }}</td>
        <td class="col-2">{{ e.attribute }}</td>
        <td class="col-2">{{ e.value }}</td>
        <td class="col-2">{{ e.name }}</td>
        <td class="col-2">{{ e.description }}</td>
        <td class="col-2">{{ e.ownerName }}</td>
        <td class="col-2">{{ e.created | date:'yyyy-MM-dd hh:mm:ss aa' }}</td>
        <td class="col-2">{{ e.requestable }}</td>
        <td>
          <div class="col-sm-2 text-end">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-id="{{i}}"
            data-bs-target="#changeOwner" (click)="showOwnerUpdateModel(e)">
            update
          </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
</div>
</div>

<!--Popup Window cloned from Forward-->
<div  id="changeOwner" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="dialog-child-name" class="modal-title pull-left font-weight-bold">
          Change Entitlement Owner
        </h5>
        <button type="button" class="btn close pull-right" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group row">
            <div class="col-sm-12 text-start" *ngIf="e">
              <span class="fw-bold">ID:</span>&nbsp;{{ e.id }}<br>
              <span class="fw-bold">Name:</span>&nbsp;{{ e.name }}<br>
              <span class="fw-bold">Application:</span>&nbsp;{{ e.sourceName }}<br>
              <span class="fw-bold">Description:</span>&nbsp;{{ e.description }}<br>
              <span class="fw-bold">Owner:</span>&nbsp;{{ e.ownerName }}<br>
                <div *ngIf="!validToSubmit && invalidMessage && invalidMessage.length > 0">
                  <br>
                  <span class="font-weight-bold text-danger">Please fix following error:</span><br>
                  <span *ngFor="let err of invalidMessage">
                    {{ err }}
                    <br>
                  </span>
                </div>
            </div>
          </div>
          <div class="form-group row mb-3">
            <div class="col-sm-12 text-start">
              <hr>
              
              <br><br>
              <b>New Owner:</b> <input type="text" class="form-control col-sm-6" id="owner-name" [(ngModel)]="newOwner" placeholder="Enter Identity Account Name" aria-describedby="basic-addon3" autocomplete="off">
              <br>
            </div>
          </div>
          <div class="row mrgbtm small">
            <div class="col-md-12 text-end">
              <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Close</button>
              &nbsp;&nbsp;&nbsp;
              <span>
                <button type="button" class="btn btn-success btn-sm" (click)="checkEntitlementOwner()">
                  Update
                </button>
              </span>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>