<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/multiple-accounts-report">Home</a></li>
    <li class="breadcrumb-item">About</li>
    <li class="breadcrumb-item active" aria-current="page">Release History</li>
  </ol>
</nav>

<table class="table table-striped table-bordered">
  <thead class="thead-light">
    <tr>
      <th scope="col">Version</th>
      <th scope="col">Date</th>
      <th scope="col">Detail</th>
    </tr>
  </thead>
  <tbody>
    <ng-container>
      <tr>
        <td>1.11.0</td>
        <td>2022-10-05</td>
        <td>
          <ul>
            <li>Enhancement
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/137" target="_blank">#137</a>&nbsp;Manage Transforms</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/138" target="_blank">#138</a>&nbsp;Export JSON Config for Backup enhancement</li>
              </ul>
            </li>
            <li>Bug Fixes
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/139" target="_blank">#139</a>&nbsp;Convert Link type to Button type in UI</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/140" target="_blank">#140</a>&nbsp;Make filenames and UI consistent</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>1.10.0</td>
        <td>2022-10-03</td>
        <td>
          <ul>
            <li>Enhancement
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/133" target="_blank">#133</a>&nbsp;Manage Identity Profiles</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/134" target="_blank">#134</a>&nbsp;Manage Identity Attribute Index</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>1.9.0</td>
        <td>2022-09-03</td>
        <td>
          <ul>
            <li>Enhancement
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/130" target="_blank">#130</a>&nbsp;Comprehensive Source Information</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>1.8.0</td>
        <td>2022-08-31</td>
        <td>
          <ul>
            <li>Enhancement
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/126" target="_blank">#126</a>&nbsp;Comprehensive Roles Report</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/127" target="_blank">#127</a>&nbsp;Comprehensive Access Profile Report</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>1.7.0</td>
        <td>2022-08-24</td>
        <td>
          <ul>
            <li>Enhancement
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/122" target="_blank">#122</a>&nbsp;Switch Search API to use v3</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/123" target="_blank">#123</a>&nbsp;Display Org Statistics</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>1.6.0</td>
        <td>2022-08-19</td>
        <td>
          <ul>
            <li>Enhancement
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/119" target="_blank">#119</a>&nbsp;Show Identity Count in Roles</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>1.5.0</td>
        <td>2022-08-16</td>
        <td>
          <ul>
            <li>Enhancement
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/116" target="_blank">#116</a>&nbsp;Update Branding</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>1.4.1</td>
        <td>2022-07-21</td>
        <td>
          <ul>
            <li>BugFixes
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/112" target="_blank">#112</a>&nbsp;Encoded Characters not Decoded on Rule Download</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/113" target="_blank">#113</a>&nbsp;Helper Text Consistency</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>1.4.0</td>
        <td>2022-07-18</td>
        <td>
          <ul>
            <li>Enhancement
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/109" target="_blank">#109</a>&nbsp;Manage PAT</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>1.3.0</td>
        <td>2022-07-09</td>
        <td>
          <ul>
            <li>Enhancement
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/104" target="_blank">#104</a>&nbsp;Show Accounts and Entitlements Count in Source Reset</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/105" target="_blank">#105</a>&nbsp;Refactor Existing Code Structure</li>
              </ul>
            </li>
            <li>Bug Fixes
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/103" target="_blank">#103</a>&nbsp;Unable to close Confirm Modal for Source Reset bug</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>1.2.0</td>
        <td>2022-07-08</td>
        <td>
          <ul>
            <li>Enhancement
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/100" target="_blank">#100</a>&nbsp;Reset Source (Accounts / Entitlements / Both)</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>1.1.0</td>
        <td>2022-07-02</td>
        <td>
          <ul>
            <li>Enhancement
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/70" target="_blank">#70</a>&nbsp;Access Profile Management</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>1.0.2</td>
        <td>2022-06-21</td>
        <td>
          <ul>
            <li>Enhancement
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/92" target="_blank">#92</a>&nbsp;Support Alternate IDN Domain Names</li>
              </ul>
            </li>
            <li>Bug Fixes
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/94" target="_blank">#94</a>&nbsp;Fix Multiple Accounts Page when no account found</li>
              </ul>
          </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>1.0.1</td>
        <td>2022-06-20</td>
        <td>
          <ul>
            <li>Bug Fixes
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/50" target="_blank">#50</a>&nbsp;Manage Rules: Replaced carriage return characters, if exist, with empty string</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/88" target="_blank">#88</a>&nbsp;Manage Rules: Fixed missing description value caused exception</li>
                <li>&nbsp;ReadMe.md: Update to install npm packages with --legacy-peer-deps flag</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>1.0</td>
        <td>2022-06-16</td>
        <td>
          <ul>
            <li>New Feature
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/66" target="_blank">#66</a>&nbsp;Set Org Time</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/68" target="_blank">#68</a>&nbsp;Role Management</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/68" target="_blank">#68</a>&nbsp;Manage Role Owners</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/69" target="_blank">#69</a>&nbsp;Manage Cloud Rules</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>0.9</td>
        <td>2022-06-10</td>
        <td>
          <ul>
            <li>Bug Fixes
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/58" target="_blank">#58</a>&nbsp;Check Authenticated user has Org Admin Rights</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>0.8</td>
        <td>2022-03-23</td>
        <td>
          <ul>
            <li>Bug Fixes
              <ul>
                <li>Fix About Menu Breadcrumbs</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>0.7</td>
        <td>2022-03-21</td>
        <td>
          <ul>
            <li>New Feature
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/19" target="_blank">#19</a>&nbsp;Release History and Credits Page</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>0.6</td>
        <td>2022-02-02</td>
        <td>
          <ul>
            <li>Enhancement
              <ul>
                <li>Manage Source Owners: Allow Search via Owner Account ID</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>0.5</td>
        <td>2022-01-20</td>
        <td>
          <ul>
            <li>Bug Fix
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/34" target="_blank">#34</a>&nbsp;Rule download breaks if attributes is not present</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>0.4</td>
        <td>2022-01-20</td>
        <td>
          <ul>
            <li>New Feature
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/23" target="_blank">#23</a>&nbsp;Connector Rule Management</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>0.3</td>
        <td>2022-01-06</td>
        <td>
          <ul>
            <li>New Feature
              <ul>
                <li>Manage Aggregation Schedules</li>
                <li>Manage Source Owners</li>
                <li>Run Aggregations</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>0.2</td>
        <td>2021-12-23</td>
        <td>
          <ul>
            <li>Bug Fixes
              <ul>
                <li>Minor UI Changes</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>0.1</td>
        <td>2021-12-10</td>
        <td>
          <ul>
            <li>Initial Commit</li>
            <li>New Feature
              <ul>
                <li>Find Multiple Accounts</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>