<nav class="navbar navbar-expand-lg navbar-light bg-light p-3 mb-3 rounded" aria-label="breadcrumb">
  <ol class="breadcrumb m-0">
    <li class="breadcrumb-item"><a class="text-decoration-none" routerLink="/identity-info">Home</a></li>
    <li class="breadcrumb-item">About</li>
    <li class="breadcrumb-item active" aria-current="page">Release History</li>
  </ol>
</nav>

<table class="table table-striped table-bordered">
  <thead class="table-secondary text-center align-middle">
    <tr>
      <th scope="col">Version</th>
      <th scope="col">Date</th>
      <th scope="col">Detail</th>
    </tr>
  </thead>
  <tbody>
    <ng-container>
      <tr>
        <td class="text-center align-middle">2.7.0</td>
        <td class="text-center align-middle">2023-10-06</td>
        <td>
          <p>More information on the Debug Source pages
        </p>
          <ul>
            <li>Bug Fixes
              <ul>
                <li><a href="https://github.com/jhyderjhyder/idn-admin-console/issues/262" target="_blank">#01</a>&nbsp;Fixed search for accounts to sort</li>
              </ul>
            </li>
            <li>Enhancements
              <ul>
                <li><a href="https://github.com/jhyderjhyder/idn-admin-console/issues/262" target="_blank">#01</a>&nbsp;Edit Edit-ProvisioningPolicy option Source Debug</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>

      <tr>
        <td class="text-center align-middle">2.6.0</td>
        <td class="text-center align-middle">2023-07-05</td>
        <td>
          <p>The old GitHub project was removed this is a clone to continue the development.  To make it easer for
          admin of IdentityNow to do basic tasks via the V3 api's faster than postman scripts.
        </p>
          <ul>
            <li>Bug Fixes
              <ul>
                <li><a href="https://github.com/jhyderjhyder/idn-admin-console/issues/262" target="_blank">#01</a>&nbsp;Fixed Account Page Showing header info</li>
                <li><a href="https://github.com/jhyderjhyder/idn-admin-console/issues/262" target="_blank">#02</a>&nbsp;Fixed Transforms attributes sometimes not updated</li>
                <li><a href="https://github.com/jhyderjhyder/idn-admin-console/issues/262" target="_blank">#03</a>&nbsp;Fixed Raw Json display issue</li>
              </ul>
            </li>
            <li>Enhancements
              <ul>
                <li><a href="https://github.com/jhyderjhyder/idn-admin-console/issues/262" target="_blank">#01</a>&nbsp;Bootstrap UI changes Same look and feel for Accounts and Identities</li>
                <li><a href="https://github.com/jhyderjhyder/idn-admin-console/issues/262" target="_blank">#02</a>&nbsp;Raw edit of Transforms now supported</li>
                <li><a href="https://github.com/jhyderjhyder/idn-admin-console/issues/262" target="_blank">#03</a>&nbsp;Suport for Azure Containers</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center align-middle">2.5.0</td>
        <td class="text-center align-middle">2023-06-30</td>
        <td>
          <p>The old GitHub project was removed this is a clone to continue the development.  To make it easer for
          admin of IdentityNow to do basic tasks via the V3 api's faster than postman scripts.
        </p>
          <ul>
            <li>Enhancements
              <ul>
                <li><a href="https://github.com/jhyderjhyder/idn-admin-console/issues/262" target="_blank">#01</a>&nbsp;Alphabetical Order of Identity Attributes</li>
                <li><a href="https://github.com/jhyderjhyder/idn-admin-console/issues/262" target="_blank">#02</a>&nbsp;ReOrder to Match Sailpoint Names</li>
                <li><a href="https://github.com/jhyderjhyder/idn-admin-console/issues/262" target="_blank">#03</a>&nbsp;Edit/View Raw Screen for Sources (Debug)</li>
                <li><a href="https://github.com/jhyderjhyder/idn-admin-console/issues/262" target="_blank">#04</a>&nbsp;Search For Account Details to see who an account is correlated to</li>
                <li><a href="https://github.com/jhyderjhyder/idn-admin-console/issues/262" target="_blank">#05</a>&nbsp;Alphabetical Order for Roles/Transforms</li>
                <li><a href="https://github.com/jhyderjhyder/idn-admin-console/issues/262" target="_blank">#06</a>&nbsp;Show who has forwarding enabled (Out of Office)</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>

      <tr>
        <td class="text-center align-middle">2.4.0</td>
        <td class="text-center align-middle">2023-04-17</td>
        <td>
          <ul>
            <li>Enhancements
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/262" target="_blank">#262</a>&nbsp;Bulk Entitlement Management</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/265" target="_blank">#265</a>&nbsp;Allow Users to Submit via Enter Key on TextBoxes</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/270" target="_blank">#270</a>&nbsp;Performance Improvement For Roles & Access Profiles Load</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/272" target="_blank">#272</a>&nbsp;Check for Latest Version & Notify of Update</li>
              </ul>
            </li>
            <li>Bug Fixes
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/266" target="_blank">#266</a>&nbsp;Destroy API calls for Multiple Accounts Report Page on Navigation</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/268" target="_blank">#268</a>&nbsp;Destroy API calls for Roles & Access Profiles on Navigation</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center align-middle">2.3.0</td>
        <td class="text-center align-middle">2023-04-15</td>
        <td>
          <ul>
            <li>Enhancements
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/18" target="_blank">#18</a>&nbsp;Add Pagination</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/256" target="_blank">#256</a>&nbsp;Export All - LCS & Source Create Profiles</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/260" target="_blank">#260</a>&nbsp;Slow Down Source API calls</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/261" target="_blank">#261</a>&nbsp;Clean up unnecessary duplicate API calls</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center align-middle">2.2.0</td>
        <td class="text-center align-middle">2023-04-12</td>
        <td>
          <ul>
            <li>Enhancements
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/245" target="_blank">#245</a>&nbsp;Actions update to check code lint and format before merge</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/246" target="_blank">#246</a>&nbsp;Enhanced Identity Info Search and Result Capabilities</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/247" target="_blank">#247</a>&nbsp;Local Login Variables for Development</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/248" target="_blank">#248</a>&nbsp;Enhanced Access Status Request Page</li>
              </ul>
            </li>
            <li>Bug Fixes
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/241" target="_blank">#241</a>&nbsp;Introduce wait time to avoid Rate Limiting for Roles</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/243" target="_blank">#243</a>&nbsp;Introduce wait time to avoid rate limiting for Access Profiles</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/250" target="_blank">#250</a>&nbsp;Change setIdle and setTimeout for Application Logout</li>
              </ul>
            </li>
            <li>Security Issues
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/239" target="_blank">#239</a>&nbsp;[Snyk] Security upgrade xml2js from 0.4.23 to 0.5.0</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center align-middle">2.1.0</td>
        <td class="text-center align-middle">2023-04-08</td>
        <td>
          <ul>
            <li>Enhancements
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/231" target="_blank">#231</a>&nbsp;Allow search by requested-for in Access Request Status</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/234" target="_blank">#234</a>&nbsp;List & Manage Admins</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/236" target="_blank">#236</a>&nbsp;Rename Identity Profiles Menu to Identity</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center align-middle"><strong>2.0.0</strong></td>
        <td class="text-center align-middle"><strong>2023-03-31</strong></td>
        <td>
          <ul>
            <li>Major Updates
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/213" target="_blank">#213</a>&nbsp;Angular update from v12.2.13 to v15.2.4</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/214" target="_blank">#214</a>&nbsp;Bootstrap updated from v4.4.1 to v5.2.3</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/215" target="_blank">#215</a>&nbsp;Security Vulnerabilities Fixed</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/216" target="_blank">#216</a>&nbsp;Node.js compatibility updated from v12.11.x to v18.15.x</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/217" target="_blank">#217</a>&nbsp;Migration from TSLint to ESLint</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/218" target="_blank">#218</a>&nbsp;Added Code Prettier Package to Auto Format Code</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/219" target="_blank">#219</a>&nbsp;Dockerfile Dependencies Updated</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/220" target="_blank">#220</a>&nbsp;GitHub Actions - Auto Docker Deployment & Enhancements</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/221" target="_blank">#221</a>&nbsp;Typescript Compiler Checks</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/222" target="_blank">#222</a>&nbsp;Vulnerability Scan Implementation</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/223" target="_blank">#223</a>&nbsp;Auto Lint and Format on Pre Commit & Pre Merge</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/229" target="_blank">#229</a>&nbsp;Metadata badges in Readme file</li>
              </ul>
            </li>
            <li>Enhancements
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/224" target="_blank">#224</a>&nbsp;Show Dates in Local Timezone</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/225" target="_blank">#225</a>&nbsp;Display Created & Modified Timestamps for Cloud & Connector Rules</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/226" target="_blank">#226</a>&nbsp;Display Last Used Date of PAT Tokens</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/228" target="_blank">#228</a>&nbsp;Various App Style Updates</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center align-middle">1.21.0</td>
        <td class="text-center align-middle">2023-03-15</td>
        <td>
          <ul>
            <li>Enhancements
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/203" target="_blank">#203</a>&nbsp;Refresh Single Identity</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center align-middle">1.20.2</td>
        <td class="text-center align-middle">2023-03-13</td>
        <td>
          <ul>
            <li>Bug Fixes
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/200" target="_blank">#200</a>&nbsp;Work Items: Display text instead of empty field for null or missing data</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center align-middle">1.20.1</td>
        <td class="text-center align-middle">2023-03-12</td>
        <td>
          <ul>
            <li>Bug Fixes
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/196" target="_blank">#196</a>&nbsp;Null check of ownerId and requesterId in Work Items</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/197" target="_blank">#197</a>&nbsp;Add Missing "Type" in Work Items Display and CSV</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center align-middle">1.20.0</td>
        <td class="text-center align-middle">2023-03-11</td>
        <td>
          <ul>
            <li>Enhancements
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/191" target="_blank">#191</a>&nbsp;Ability To Duplicate Criteria Based Roles</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/192" target="_blank">#192</a>&nbsp;Move Few Endpoints to v3 from beta</li>
              </ul>
            </li>
            <li>Bug Fixes
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/190" target="_blank">#190</a>&nbsp;Work Items Pending Forward does not return items</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center align-middle">1.19.0</td>
        <td class="text-center align-middle">2023-03-10</td>
        <td>
          <ul>
            <li>Enhancements
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/185" target="_blank">#185</a>&nbsp;Work Items Status</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/186" target="_blank">#186</a>&nbsp;Forward Pending Work Items</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/187" target="_blank">#187</a>&nbsp;Work Items Statistics</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center align-middle">1.18.0</td>
        <td class="text-center align-middle">2023-01-19</td>
        <td>
          <ul>
            <li>Enhancements
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/181" target="_blank">#181</a>&nbsp;Identity Profiles: Manage LCS</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center align-middle">1.17.0</td>
        <td class="text-center align-middle">2022-12-05</td>
        <td>
          <ul>
            <li>Enhancements
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/175" target="_blank">#175</a>&nbsp;See Access Request Status</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/176" target="_blank">#176</a>&nbsp;Ability to Forward Pending Access Request Approval</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/177" target="_blank">#177</a>&nbsp;Added Approval Summary Statistics</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/178" target="_blank">#178</a>&nbsp;Increase Default App and Container Width</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center align-middle">1.16.0</td>
        <td class="text-center align-middle">2022-10-28</td>
        <td>
          <ul>
            <li>Enhancements
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/170" target="_blank">#170</a>&nbsp;Rearrange Menu and Make Identity Info Default Login Page</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/171" target="_blank">#171</a>&nbsp;Enhanced Multiple Accounts Report (More info in Link)</li>
              </ul>
            </li>
            <li>Bug Fixes
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/169" target="_blank">#169</a>&nbsp;Fix location path of tsconfig.json</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>1.15.2</td>
        <td>2022-10-27</td>
        <td>
          <ul>
            <li>Bug Fixes
              <ul>
                <li>&nbsp;Multiple Accounts Report: Added Note text due to current limitations.</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center align-middle">1.15.1</td>
        <td class="text-center align-middle">2022-10-26</td>
        <td>
          <ul>
            <li>Bug Fixes
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/161" target="_blank">#161</a>&nbsp;Identity Info: Entitlement Names Showing Count</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center align-middle">1.15.0</td>
        <td class="text-center align-middle">2022-10-25</td>
        <td>
          <ul>
            <li>Enhancements
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/158" target="_blank">#158</a>&nbsp;Add Additional Identity Info and Ability to Export</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center align-middle">1.14.0</td>
        <td class="text-center align-middle">2022-10-23</td>
        <td>
          <ul>
            <li>Enhancements
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/154" target="_blank">#154</a>&nbsp;Display Identity Info</li>
              </ul>
            </li>
            <li>Bug Fixes
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/153" target="_blank">#153</a>&nbsp;searchAccounts() returning multiple results</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/155" target="_blank">#155</a>&nbsp;Account Name is wrongly labeled as Account ID in Helper Text and Column Name</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center align-middle">1.13.0</td>
        <td class="text-center align-middle">2022-10-12</td>
        <td>
          <ul>
            <li>Enhancements
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/147" target="_blank">#147</a>&nbsp;Manage Create Profile</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/148" target="_blank">#148</a>&nbsp;Use v3 API Instead of beta for few endpoints</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/149" target="_blank">#149</a>&nbsp;Update Methods to Standardise Names</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/150" target="_blank">#150</a>&nbsp;Add Refresh Button to Additional Menus</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center align-middle">1.12.0</td>
        <td class="text-center align-middle">2022-10-07</td>
        <td>
          <ul>
            <li>Enhancements
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/144" target="_blank">#144</a>&nbsp;Export All feature for Cloud and Connector Rules</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center align-middle">1.11.0</td>
        <td class="text-center align-middle">2022-10-05</td>
        <td>
          <ul>
            <li>Enhancements
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/137" target="_blank">#137</a>&nbsp;Manage Transforms</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/138" target="_blank">#138</a>&nbsp;Export JSON Config for Backup</li>
              </ul>
            </li>
            <li>Bug Fixes
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/139" target="_blank">#139</a>&nbsp;Convert Link type to Button type in UI</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/140" target="_blank">#140</a>&nbsp;Make filenames and UI consistent</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center align-middle">1.10.0</td>
        <td class="text-center align-middle">2022-10-03</td>
        <td>
          <ul>
            <li>Enhancements
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/133" target="_blank">#133</a>&nbsp;Manage Identity Profiles</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/134" target="_blank">#134</a>&nbsp;Manage Identity Attribute Index</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center align-middle">1.9.0</td>
        <td class="text-center align-middle">2022-09-03</td>
        <td>
          <ul>
            <li>Enhancements
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/130" target="_blank">#130</a>&nbsp;Comprehensive Source Information</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center align-middle">1.8.0</td>
        <td class="text-center align-middle">2022-08-31</td>
        <td>
          <ul>
            <li>Enhancements
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/126" target="_blank">#126</a>&nbsp;Comprehensive Roles Report</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/127" target="_blank">#127</a>&nbsp;Comprehensive Access Profile Report</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center align-middle">1.7.0</td>
        <td class="text-center align-middle">2022-08-24</td>
        <td>
          <ul>
            <li>Enhancements
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/122" target="_blank">#122</a>&nbsp;Switch Search API to use v3</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/123" target="_blank">#123</a>&nbsp;Display Org Statistics</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center align-middle">1.6.0</td>
        <td class="text-center align-middle">2022-08-19</td>
        <td>
          <ul>
            <li>Enhancements
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/119" target="_blank">#119</a>&nbsp;Show Identity Count in Roles</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center align-middle">1.5.0</td>
        <td class="text-center align-middle">2022-08-16</td>
        <td>
          <ul>
            <li>Enhancements
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/116" target="_blank">#116</a>&nbsp;Update Branding</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center align-middle">1.4.1</td>
        <td class="text-center align-middle">2022-07-21</td>
        <td>
          <ul>
            <li>BugFixes
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/112" target="_blank">#112</a>&nbsp;Encoded Characters not Decoded on Rule Download</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/113" target="_blank">#113</a>&nbsp;Helper Text Consistency</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center align-middle">1.4.0</td>
        <td class="text-center align-middle">2022-07-18</td>
        <td>
          <ul>
            <li>Enhancements
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/109" target="_blank">#109</a>&nbsp;Manage PAT</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center align-middle">1.3.0</td>
        <td class="text-center align-middle">2022-07-09</td>
        <td>
          <ul>
            <li>Enhancements
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/104" target="_blank">#104</a>&nbsp;Show Accounts and Entitlements Count in Source Reset</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/105" target="_blank">#105</a>&nbsp;Refactor Existing Code Structure</li>
              </ul>
            </li>
            <li>Bug Fixes
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/103" target="_blank">#103</a>&nbsp;Unable to close Confirm Modal for Source Reset bug</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center align-middle">1.2.0</td>
        <td class="text-center align-middle">2022-07-08</td>
        <td>
          <ul>
            <li>Enhancements
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/100" target="_blank">#100</a>&nbsp;Reset Source (Accounts / Entitlements / Both)</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center align-middle">1.1.0</td>
        <td class="text-center align-middle">2022-07-02</td>
        <td>
          <ul>
            <li>Enhancements
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/70" target="_blank">#70</a>&nbsp;Access Profile Management</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center align-middle">1.0.2</td>
        <td class="text-center align-middle">2022-06-21</td>
        <td>
          <ul>
            <li>Enhancements
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/92" target="_blank">#92</a>&nbsp;Support Alternate IDN Domain Names</li>
              </ul>
            </li>
            <li>Bug Fixes
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/94" target="_blank">#94</a>&nbsp;Fix Multiple Accounts Page when no account found</li>
              </ul>
          </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center align-middle">1.0.1</td>
        <td class="text-center align-middle">2022-06-20</td>
        <td>
          <ul>
            <li>Bug Fixes
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/50" target="_blank">#50</a>&nbsp;Manage Rules: Replaced carriage return characters, if exist, with empty string</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/88" target="_blank">#88</a>&nbsp;Manage Rules: Fixed missing description value caused exception</li>
                <li>&nbsp;ReadMe.md: Update to install npm packages with --legacy-peer-deps flag</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center align-middle">1.0</td>
        <td class="text-center align-middle">2022-06-16</td>
        <td>
          <ul>
            <li>New Feature
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/66" target="_blank">#66</a>&nbsp;Set Org Time</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/68" target="_blank">#68</a>&nbsp;Role Management</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/68" target="_blank">#68</a>&nbsp;Manage Role Owners</li>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/69" target="_blank">#69</a>&nbsp;Manage Cloud Rules</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center align-middle">0.9</td>
        <td class="text-center align-middle">2022-06-10</td>
        <td>
          <ul>
            <li>Bug Fixes
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/58" target="_blank">#58</a>&nbsp;Check Authenticated user has Org Admin Rights</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center align-middle">0.8</td>
        <td class="text-center align-middle">2022-03-23</td>
        <td>
          <ul>
            <li>Bug Fixes
              <ul>
                <li>Fix About Menu Breadcrumbs</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center align-middle">0.7</td>
        <td class="text-center align-middle">2022-03-21</td>
        <td>
          <ul>
            <li>New Feature
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/19" target="_blank">#19</a>&nbsp;Release History and Credits Page</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center align-middle">0.6</td>
        <td class="text-center align-middle">2022-02-02</td>
        <td>
          <ul>
            <li>Enhancements
              <ul>
                <li>Manage Source Owners: Allow Search via Owner Account ID</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center align-middle">0.5</td>
        <td class="text-center align-middle">2022-01-20</td>
        <td>
          <ul>
            <li>Bug Fixes
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/34" target="_blank">#34</a>&nbsp;Rule download breaks if attributes is not present</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center align-middle">0.4</td>
        <td class="text-center align-middle">2022-01-20</td>
        <td>
          <ul>
            <li>New Feature
              <ul>
                <li><a href="https://github.com/piyush-khandelwal-sp/idn-admin-console/issues/23" target="_blank">#23</a>&nbsp;Connector Rule Management</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center align-middle">0.3</td>
        <td class="text-center align-middle">2022-01-06</td>
        <td>
          <ul>
            <li>New Feature
              <ul>
                <li>Manage Aggregation Schedules</li>
                <li>Manage Source Owners</li>
                <li>Run Aggregations</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center align-middle">0.2</td>
        <td class="text-center align-middle">2021-12-23</td>
        <td>
          <ul>
            <li>Bug Fixes
              <ul>
                <li>Minor UI Changes</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center align-middle">0.1</td>
        <td class="text-center align-middle">2021-12-10</td>
        <td>
          <ul>
            <li>Initial Commit</li>
            <li>New Feature
              <ul>
                <li>Find Multiple Accounts</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>